/*
CANDLE
*/

@import 'variables';

.redtext {
  color: $bullish;
}

.timeframe {
  background-color: $demo-alpha;
}

.dashboard {
  background-color: $demo-alpha;
}
.replay-chart {
  background-color: $demo-alpha;
}
.highlights-container {
  background-color: $demo-alpha;
}
